@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* write custom css */
body{
    background-color: #131316;
    scroll-behavior: smooth;
}

.enter{
    animation: entrance 1s ease-in-out;
}
.enter-1{
    animation: entrance 1s ease-in-out 0.2s;
}
.enter-2{
    animation: entrance 1s ease-in-out 0.4s;
}
.enter-3{
    animation: entrance 1s ease-in-out 0.6s;
}

@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.enter-h{
    animation: entrance-h 1s ease-in-out;
}
.enter-h-1{
    animation: entrance-h 1s ease-in-out 0.2s;
}
.enter-h-2{
    animation: entrance-h 1s ease-in-out 0.4s;
}
.enter-h-3{
    animation: entrance-h 1s ease-in-out 0.6s;
}

@keyframes entrance-h{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}